/* Remove default browser margins, paddings, and borders */
html, body, div, span, h1, h2, h3, h4, h5, h6, p, a, ol, ul, li, form, label, caption{
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: inherit;
  text-align: baseline;
}

/* Remove default list styling */
ol, ul {
  list-style: none;
}

/* Set default font size and family */
body {
  font-size: 18px;
  font-family: sans-serif;
}
